.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-container {
  position: relative;
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.turn-container h3 {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}
.turn-container .turn-box {
  border: 3px solid #000;
  font-size: 1.6rem;
  font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
  border-right: none;
}

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  height: 40px;
  background-color: #ff2e63;
  z-index: -1;
}
